.footer {
  min-height: 100px;
  background-color: rgba(0, 0, 0, 0.404);
  position: relative;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
}

.cen {
  text-align: center;
}